body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#auto-lijst {
    margin: 20px;
}

.auto-item {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.auto-item img {
    width: 100%; /* Zorgt ervoor dat de afbeelding de beschikbare ruimte benut */
    max-width: 300px; /* Maximaal 300px breed, past zich aan voor kleinere schermen */
    height: auto; /* Verhouding behouden */
    display: block;
    margin-top: 10px;
    border-radius: 8px; /* Optioneel: maakt de hoeken van de afbeelding rond */
}
